/* Index.css */
.index-page {
    background-color: #e3e9f0;
    padding-top: 0px; /* Adjust for fixed navbar height */
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #84a5d8; /* Dark background color */
    color: #615353;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: #ffffff;
    text-decoration: none;
    margin-left: 0.8rem;
}

.navbar-links {
    display: flex;
    gap: 2rem;
    margin-right: 2.5rem;
    font-size: larger;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
    padding: 1rem 1rem;
    border-radius: 0.15rem;
}

.nav-link:hover {
    background-color: #5bd9ff; /* Slightly lighter background on hover */
    color: #070707;
    padding: 0.1rem 0.1rem;
}

.header {
    text-align: center;
    margin-top: 80px; /* Space below the fixed navbar */
    margin-bottom: 30px;
}

.display-4 {
    font-weight: 700;
    color: #007bff;
}

.lead {
    color: #6c757d;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.option-cards {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.option-card {
    border-radius: 15px;
    padding: 30px;
    background-color: #ffffff;
    width: 350px;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.icon {
    font-size: 4rem; /* Slightly larger icons */
    color: #007bff;
}

.card-title {
    font-size: 1.5rem;
    color: #343a40;
}

.card-text {
    font-size: 1rem;
    color: #6c757d;
}

.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.btn {
    font-weight: bold;
    padding: 12px 20px; /* Consistent padding */
    border-radius: 0.25rem;
    font-size: 1rem; /* Consistent font size */
    text-decoration: none;
    display: inline-block;
    width: 100%; /* Full width for buttons */
    max-width: 150px; /* Maximum width for buttons */
    text-align: center;
}

.btn-primary {
    background-color: #007bff;
    border: 1px solid #007bff;
    color: #ffffff;
}

.btn-secondary {
    background-color: #6c757d;
    border: 1px solid #6c757d;
    color: #ffffff;
}

.btn-outline-primary {
    color: #007bff;
    border: 1px solid #007bff;
}

.btn-outline-secondary {
    color: #6c757d;
    border: 1px solid #6c757d;
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-outline-primary:hover,
.btn-outline-secondary:hover {
    opacity: 0.9; /* Slight opacity change on hover */
}
